@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #313185;
  overflow: hidden;
}

a, a:visited {
  color: #313185;
}

header a, .cta{
  text-decoration: none;
}

nav {
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
  background-color: #F0A2AA;
  width: 90%;
  margin: 20px auto 0px auto;
  box-sizing: border-box;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  box-shadow: 10px 10px #222;
  display: flex;
  justify-content: center;
}

nav > * {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  flex: 1;
  color: #313185;
}

nav a:hover {
  text-decoration: underline;
  color: #4a4aa8;
}

.socials span {
  display: none;
}

main {
  width: 90%;
  height: 55vh;
  margin: auto;
  background-color: white;
  border: 2px solid black;
  box-shadow: 10px 0 #222;
  padding: 1em;
  overflow: scroll;
}

h1, h2, h3{
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  padding-top: .5em;
  text-transform: uppercase;
  margin: 0;
  /* margin-top: -10px; */
  text-transform: uppercase;
}

h1{
  color: white;
  font-size: 2em;
  text-shadow: 0 0.1em #8789c4;
  letter-spacing: 0.2em;
}

h2, h3{
  color: #93c2b1;
}

h2{
  font-size: 2.3em;
}

h3 {
  font-size: 2em;
}

section {
  margin-bottom: 2em;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

li {
  width: 30%;
  padding: 0 1em;
  text-align: center;
  padding-bottom: 1.5em;
}

#home {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.headline-text {
  order: 1;
  text-align: center;
}

.avatar {
  display: block;
  width: 70%;
  margin: -0.5em auto;
  border-radius: 50%;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

#home span {
  display: block;
  font-size: 2em;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  color: #313185;
}

#home p, #home span {
  margin-bottom: .2em;
}

.about-text > p, .details > ul {
  margin-top: 2em;
}

.skills-icons, .skills-react-icon {
  width: 100%;
}

#about button, .cta {
  display: block;
  margin: 2em auto;
  padding: 2em;
  width: 65%;
  background-color: #313185;
  color: white;
  text-transform: uppercase;
  border-radius: 1em;
  border: none;
  font-size: .8em;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  box-shadow: 0px 5px #222;
}

#about button:hover, .cta:hover {
  background-color: #4a4aa8;
}

#works img {
  display: block;
  margin: 1.5em auto;
  width: 90%;
}

#works div:first-of-type {
  margin: 2em 0;
}

#works div:not(:first-of-type) {
  margin: 4em 0;
}

#toTop {
  display: none;
  position: absolute;
  bottom: 25vh;
  right: 9vw;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #313185;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  opacity: 0.7;
}

#toTop:hover {
  background-color: #4a4aa8;
}

footer{
  padding: 1em;
  height: 4em;
  text-align: center;
  box-sizing: border-box;
  background-color: #F0A2AA;
  width: 90%;
  margin: 0 auto 40px auto;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: 10px 0px  #222;
}

@media (min-width: 640px){
  main, footer, nav{
    max-width: 960px;
  }

  .socials span {
    display: inline;
  }

  #home {
    flex-direction: row;
    align-items: center;
    padding: 0 2em;
  }

  #home h2, .headline-text {
    text-align: left;
  }

  #home h2 {
    font-size: 3em;
  }

  .headline-text{
    padding-left: 2em;
  }

  #home .headline-name {
    font-size: 2.5em;
  }

  #home .small {
    font-size: .8em;
  }

  #home .headline-job {
    font-size: 1.6em;
  }

  .avatar {
    width: 35%;
    margin: 1em;
  }

  #about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #about > * {
    width: 50%;
    padding: 0 2em;
  }

  li {
    width: 40%;
  }

  .skills-icons, .skills-react-icon {
    width: 80%;
  }

  #about button, .cta {
    width: 40%;
    font-size: 1em;
  }

  .w-item > p {
    padding: 0 3em;
  }

  /* #toTop {
    right: 3em;
  } */
}

@media (min-width: 960px){
  #home h2 {
    font-size: 3.5em;
  }

  .headline-text{
    padding-left: 3em;
  }

  #home .headline-name {
    font-size: 3em;
  }

  #home .headline-job {
    font-size: 2.1em;
  }

  #about > * {
    width: 50%;
    padding: 0 3em;
  }

  li {
    width: 30%;
  }

  #about button, .cta {
    width: 30%;
  }

}
@media (min-width: 1120px) {
  #toTop{
    right: 12vw;
  }
}

@media (min-width: 1280px) {
  #toTop{
    right: 23vw;
  }
}

@media (min-height: 800px) {
  main {
    height: 70vh;
  }

  h1 {
    font-size: 2.8em;
  }

  #toTop {
    bottom: 15vh;
  }
}

@media (min-height: 1024px){
  #toTop {
    bottom: 18vh;
  }
}

@media (min-height: 1366px) {
  #toTop {
    bottom: 22vh;
  }
}
